<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客列表</title>
  <link rel="stylesheet" href="../../static/css/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
  <script src="../../static/js/jquery.js"></script>
  <script src="../../static/js/semantic.min.js" type="application/javascript"></script>

  <script>
    $(function () {
      $('.menu_toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
      })

      $('.ui.dropdown').dropdown({
        on: 'click'
      })

      $('.menu.m-font-small > a.item').click(function (event) {
        return false
      })
    })

  </script>

</head>
<body>

<nav class="ui inverted attached segment m-padding-tb-mini m-shadow">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui header teal item">博客管理</h2>
      <a href="#" class="m-item active item m-mobile-hide"><i class="small home icon"></i>博客</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
      <div class="right item m-item m-mobile-hide">
        <div class="right aligned ui dropdown item">
          <div class="text">
            <img src="../../static/images/avatar/head.jpg" class="ui avatar image" style="margin-right: 0.3em">
            <span id="username" class="m-font-small m-font-thin">SHeR</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu m-font-small m-font-thin">
            <a href="#" class="item">注销</a>
            <a href="#" class="item">关于</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu_toggle black button icon m-top-right m-mobile-show menu">
    <i class="sidebar icon"></i>
  </a>
</nav>

<div class="ui  pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" class="item">发布</a>
      <a href="#" class="teal active item">列表</a>
    </div>
  </div>
</div>

<div class="m-container-small m-padding-tb-huge">
  <div class="ui container">
    <div class="ui segment m-relative">
      <form action="#" method="post" class="ui form">
        <div class="inline fields" style="margin-bottom: 0">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>

          <div class="field">
            <div class="ui selection dropdown">
              <input type="hidden" name="type"/>
              <i class="dropdown icon"></i>
              <div class="default text">分类</div>
              <div class="menu">
                <div class="item" data-value="java">Java</div>
                <div class="item" data-value="linux">Linux</div>
                <div class="item" data-value="Spring">Spring</div>
                <div class="item" data-value="mybatis">MyBatis</div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="recommend" name="recommend">
              <label for="recommend">推荐</label>
            </div>
          </div>

          <div class="field">
            <div class="ui tiny teal basic button m-margin-lr"><i class="search icon"></i>搜索</div>
          </div>
        </div>
      </form>
      <button class="ui small positive button" style="position: absolute;right: 10px; top: 16px">新增</button>
    </div>

    <table class="ui purple celled table center aligned">
      <thead>
      <tr>
        <th></th>
        <th>标题</th>
        <th>类型</th>
        <th>推荐</th>
        <th>更新时间</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>1</td>
        <td>Spring源码分析</td>
        <td>Spring</td>
        <td>2020-07-21 20:36</td>
        <td>是</td>
        <td>
          <a href="#" class="ui mini blue basic button m-margin-lr">编辑</a>
          <a href="#" class="ui mini negative basic button">删除</a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Spring源码分析</td>
        <td>Spring</td>
        <td>2020-07-21 20:36</td>
        <td>是</td>
        <td>
          <a href="#" class="ui mini blue button basic m-margin-lr">编辑</a>
          <a href="#" class="ui mini negative basic button">删除</a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Spring源码分析</td>
        <td>Spring</td>
        <td>2020-07-21 20:36</td>
        <td>是</td>
        <td>
          <a href="#" class="ui mini blue button basic m-margin-lr">编辑</a>
          <a href="#" class="ui mini negative basic button">删除</a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>Spring源码分析</td>
        <td>Spring</td>
        <td>2020-07-21 20:36</td>
        <td>是</td>
        <td>
          <a href="#" class="ui mini blue button basic m-margin-lr">编辑</a>
          <a href="#" class="ui mini negative basic  button">删除</a>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>Spring源码分析</td>
        <td>Spring</td>
        <td>2020-07-21 20:36</td>
        <td>是</td>
        <td>
          <a href="#" class="ui mini blue button basic m-margin-lr">编辑</a>
          <a href="#" class="ui mini negative basic button">删除</a>
        </td>
      </tr>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="6">
            <div class="ui pagination menu">
              <a href="#" class="icon item">
                <i class="left chevron small icon"></i>
              </a>
              <a href="#" class="active item">1</a>
              <a href="#" class="item">2</a>
              <a href="#" class="item">3</a>
              <a href="#" class="item">4</a>
              <a href="#" class="item">5</a>
              <a href="#" class="icon item">
                <i class="right chevron small icon"></i>
              </a>

            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<footer class="ui inverted vertical segment m-padding-t-huge m-margin-t-large">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <img src="../../static/images/qrcode.png" class="ui rounded images" style="width: 110px;">
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text">最新博客</h4>
        <div class="ui inverted link list m-text">
          <a href="#" class="item m-text-lined">Spring Boot实战</a>
          <a href="#" class="item">Spring源码分析</a>
          <a href="#" class="item m-text-lined">使用MyBatis Plus简化开发</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text">联系我</h4>
        <div class="ui inverted link list m-text">
          <a href="#" class="item m-text-lined"> Email: hony_sher@foxmail.com </a>
          <a href="#" class="item "> QQ: 422343831</a>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header m-text">Blog</h4>
        <p class="ui inverted m-text m-opacity-large m-text-lined">
          每个人都不得不面对这些问题。 在面对这种问题时， 我们都知道，只要有意义，那么就必须慎重考虑。 雷锋曾经说过，
          自己活着，就是为人民。
        </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="m-text">
      <span>Copyright</span><i class="copyright icon"></i> <span>2020 - 2020 Designed By Sheriby</span>
    </div>
  </div>
</footer>
</body>
</html>