<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>fragment</title>
</head>
<body>

<nav th:fragment="menu(n)" class="ui inverted attached segment m-padding-tb-mini m-shadow">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui header teal item">Blog</h2>
      <a href="#" th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n == 1} ? 'active'">
        <i class="small home icon"></i>首页
      </a>
      <a href="#" th:href="@{/type}" class="m-item item m-mobile-hide" th:classappend="${n == 2} ? 'active'">
        <i class="small idea icon"></i>分类
      </a>
      <a href="#" th:href="@{/tag}" class="m-item item m-mobile-hide" th:classappend="${n == 3} ? 'active'">
        <i class="small tags icon"></i>标签
      </a>
      <a href="#" th:href="@{/archive}" class="m-item item m-mobile-hide" th:classappend="${n == 4} ? 'active'">
        <i class="small clone icon"></i>归档
      </a>
      <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n == 5} ? 'active'">
        <i class="small info icon"></i>关于
      </a>
      <div class="right m-item item m-mobile-hide">
        <form name="search" action="" method="get" target="_blank" th:action="@{/search}">
          <div class="ui icon input secondary">
            <input type="text" name="query" th:value="${query}" placeholder="搜索" class="m-bg-transparent m-border-white m-font-white">
            <i onclick="document.forms['search'].submit()" class="search icon link inverted"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu_toggle black button icon m-top-right m-mobile-show menu">
    <i class="sidebar icon"></i>
  </a>
</nav>


<footer th:fragment="footer" class="ui inverted vertical segment m-padding-t-huge m-margin-t-large">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <img src="../../static/images/qrcode.png" th:src="@{/images/qrcode.png}" class="ui rounded images" style="width: 110px;">
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text">最新博客</h4>
        <div class="ui inverted link list m-text">
          <a onclick="window.location.href='/blog/'+$(this).data('id')" th:attr="data-id=${blog.id}" th:each="blog : ${session.topBlogs}" href="#" target="_blank" class="item m-text-lined-small" th:text="${blog?.title}">Spring Boot实战</a>
          <!--/*-->
          <a href="#" class="item">Spring源码分析</a>
          <a href="#" class="item m-text-lined">使用MyBatis Plus简化开发</a>
          <!--*/-->
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text">联系我</h4>
        <div class="ui inverted link list m-text">
          <div class="item m-text-lined"> Email: hony_sher@foxmail.com </div>
          <div class="item "> QQ: 422343831</div>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header m-text">Blog</h4>
        <p class="ui inverted m-text m-opacity-large m-text-lined">
          　　无知而又纯洁的岁月 是任何人都曾拥有的 世界上没有一成不变的事务 所以只要以其他方式找到自己的快乐就行了
        </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="m-text">
      <span>Copyright</span><i class="copyright icon"></i> <span>2020 - 2020 Designed By Sheriby</span>
    </div>
  </div>
</footer>

</body>
</html>