<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>详情</title>
  <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
  <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
  <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
  <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
  <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">

  <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
  <script src="../static/js/scrollTo.js" th:src="@{/js/scrollTo.js}"></script>
  <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
  <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
  <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
  <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>

  <script th:inline="javascript">
    $(function () {
      $('.menu_toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
        return false
      })

      $('#payBtn').popup({
        popup: $('#payQRs.popup'),
        on: 'click',
        position: 'bottom center'
      })

      $('#showQr').popup({
        popup: $('#qr.popup'),
        on: 'click',
        position: 'left center',
        inline: true
      })

      $('#showButtons').click(() => {
        $('#buttons').toggleClass('m-mobile-hide')
        $('#showButtons').hide()
      })

      $('#hide').click(() => {
        $('#buttons').toggleClass('m-mobile-hide')
        $('#showButtons').show()
      })

      $('#top').click(function () {
        $(window).scrollTo(0, 500)
      })

      $('#toComment').click(function () {
        let top = $('#comment').offset().top
        $(window).scrollTo(top, 500)
      })

      $('.ui.form').form({
        fields: {
          nickname: {
            identifier: 'nickname',
            rules: [{
              type: 'empty',
              prompt: '请输入用户名'
            }]
          },
          email: {
            identifier: 'email',
            rules: [{
              type: 'email',
              prompt: '请输入有效的邮箱'
            }]
          },
          content: {
            identifier: 'content',
            rules: [{
              type: 'empty',
              prompt: '请输入评论内容'
            }]
          }
        }
      })


      const content = $('[name="content"]')

      function clearContent() {
        const content = $('[name="content"]')
        content.val('')
        content.attr('placeholder', '请输入评论内容...')
        $('[name="parentComment.id"]').val(-1)
      }

      function postData() {
        $('#comment-container').load(/*[[@{/comment}]]*/' ', {
          'parentComment.id': $('[name="parentComment.id"]').val(),
          'blog.id': $('[name="blog.id"]').val(),
          'nickname': $('[name="nickname"]').val(),
          'replyNickname': $('[name="replyNickname"]').val(),
          'email': $('[name="email"]').val(),
          'content': content.val()
        }, (responseTxt, statusTxt, xhr) => {
          clearContent()
          $(window).scrollTo($('#comment'), 500)
        })
      }

      $(`#comment-submit`).click(() => {
        const res = $('.ui.form').form(`validate form`)
        if (res) {
          postData()
        }
        return false
      })

      window.reply = (obj) => {
        const id = $(obj).data('commentid')
        const nickname = $(obj).data('nickname')

        content.attr('placeholder', '@' + nickname).focus()
        $('[name="parentComment.id"]').val(id)
        $('[name="replyNickname"]').val(nickname)
        $(window).scrollTo(content, 500)

      }


      /************* tocbot **************/
      $('#tocBtn').popup({
        popup: $('#toc-container.popup'),
        on: 'click',
        position: 'left center'
      })

      tocbot.init({
        tocSelector: '#toc',
        contentSelector: '#content',
        headingSelector: 'h1, h2, h3, h4, h5, h6, h7'
      })

      /********* qrcode ************/
      var qrcode = new QRCode(document.getElementById("qr"), {
        text: document.location.href.split('?')[0],
        width: 100,
        height: 100,
        colorDark: '#333',
        colorLight: '#eee',
        correctLevel: QRCode.CorrectLevel.H
      })

    })
  </script>

</head>
<body>

<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padding-tb-mini">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui header teal item">Blog</h2>
      <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>首页</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i>归档</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="small info icon"></i>关于</a>
      <div class="right m-item item m-mobile-hide">
        <div class="ui icon input secondary">
          <input type="text" placeholder="搜索" class="m-bg-transparent m-border-white m-font-white">
          <i class="search icon link inverted"></i>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu_toggle black button icon m-top-right m-mobile-show menu">
    <i class="sidebar icon"></i>
  </a>
</nav>

<div class="m-padding-tb-huge m-container-small">
  <div class="ui container">
    <div class="ui top attached segment">
      <div class="ui horizontal link list middle aligned">
        <div class="item">
          <img
            src="../static/images/pic.jpg"
            th:src="${blog.user.avatar}"
            style="width: 30px;height: 30px;" class="ui avatar image">
          <div class="content">
            <div class="header m-opacity-mini" th:src="${blog.user.nickname}">Sheriby</div>
          </div>
        </div>
        <div class="item">
          <i class="calendar icon"></i>
          <span class="middle aligned" th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-07-18</span>
        </div>
        <div class="item">
          <i class="eye icon"></i>
          <span class="middle aligned" th:text="${blog.views}">8848</span>
        </div>
      </div>
    </div>
    <div class="ui attached segment m-overhide animate__animated animate__pulse" style="height: 30em">
      <img src="../static/images/pic.jpg" th:src="@{${blog.picture}}"
           class="ui fluid rounded image m-pic-fit m-opacity-mini">
    </div>
    <div class="ui attached segment">
      <div class="ui right aligned basic segment">
        <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
      </div>
      <h2 class="ui center aligned header" style="letter-spacing: 0.3em; color: #e67474; font-size: 2em"
          th:text="${blog.title}">Linux命令行学习日记01</h2>
      <div id="content" th:utext="${blog.content}" class="typo m-padding-lr-huge-resp m-padding-tb-huge m-text m-text-lined">
        <h1 id="lianjie">链接文件</h1>
        <p>在linux中有两种链接文件，一种是硬链接，一种是软链接（又被称为符号链接）。</p>
        <h2 id="yinlianjie">硬链接</h2>
        <p>我们可以使用<code>ln</code>命令来制作硬链接。如：</p>
        <pre><code class='language-shell' lang='shell'>touch file
ln file linkfile
</code></pre>
        <p>此时<code>linkfile</code>就是<code>file</code>的硬链接。</p>
        <p>硬链接更像是给文件起一个别名。在linux文件系统中，每一个文件都被单独分配了一个<code>inode</code>，文件系统通过这个<code>inode</code>来寻找文件。我们可以通过<code>ls
          -i</code>命令来查看文件的的<code>inode</code>。</p>
        <pre><code class='language-shell' lang='shell'>sher: ls -li
total 8
656782 -rw-r--r-- 2 sher sher 30 Jun 28 18:42 file
656782 -rw-r--r-- 2 sher sher 30 Jun 28 18:42 linkfile
</code></pre>
        <p>两个文件的<code>icode</code>是相同的，大小等各种信息都是相同的。当我们修改<code>file</code>文件中的内容的时候，<code>linkfile</code>中的内容也会被修改。</p>
        <p>
          但是自始至终都只有一份文件存在，<code>linkfile</code>只是<code>file</code>的别名，就像是<code>c++</code>中的引用，<code>c</code>语言中的指针。（<code>linux</code>内核是使用c语言写的，所以肯定是指针来实现的，不过c++的引用也只是对指针的一个封装罢了）
        </p>
        <p>硬链接通过<code>inode</code>进行链接。</p>
        <h2 id="ruanlianjie">软链接</h2>
        <p>我们可以使用<code>ln -s</code>命令来制作软链接，其中的参数<code>s表示的是soft或者说是symbolic</code>，软链接就像是我们在<code>windows</code>中经常使用的快捷方式。在<code>windows</code>中可能会遇到这种情况，该快捷方式不可用，这就是原来的文件不在原有的位置导致的。
        </p>
        <p>我们使用<code>ln -s file linkfile2</code>创建<code>file</code>的一个软链接。</p>
        <pre><code class='language-shell' lang='shell'>sher: ls -li
total 8
656782 -rw-r--r-- 2 sher sher 30 Jun 28 18:42 file
656782 -rw-r--r-- 2 sher sher 30 Jun 28 18:42 linkfile
657082 lrwxrwxrwx 1 sher sher  4 Jun 28 18:49 linkfile2 -&gt; file
</code></pre>
        <p>我们发现软链接的<code>inode</code>改变了，大小也改变了，后面还跟上了一个箭头，表示这个软链接指向本文件夹中的<code>file</code>文件。</p>
        <p>软链接通过<code>position</code>进行链接。</p>
        <h2 id="bijiao">两种链接的简单比较</h2>
        <h3 id="shiyongmv">使用mv指令</h3>
        <p><code>mv</code>指令是不会改变一个文件的<code>inode</code>的，只会改变文件所在的位置。</p>
        <p>当我们执行<code>mv file file2</code>指令之后。</p>
        <pre><code class='language-shell' lang='shell'>sher: ls -li
total 8
656782 -rw-r--r-- 2 sher sher 30 Jun 28 18:42 file2
656782 -rw-r--r-- 2 sher sher 30 Jun 28 18:42 linkfile
657082 lrwxrwxrwx 1 sher sher  4 Jun 28 18:49 linkfile2 -&gt; file
</code></pre>
        <p>上面的文本框没有颜色，在<code>linkfile2 -&gt;
          file</code>是有红色的背景的，此时这个软链接不可用，因为本文件夹内并没有一个文件叫做<code>file</code>。但是硬链接是通过<code>inode</code>来链接的，<code>mv</code>指令并没有改变<code>inode</code>，因而使用硬链接还可以访问链接之前的文件。
        </p>
        <p>也就是说，硬链接通过<code>inode</code>链接，其实际上没有大小。</p>
        <p>软链接通过<code>position</code>链接，其有大小，存放的就是链接的位置。</p>
        <h3 id="shiyongrm">使用rm指令</h3>
        <p>
          这里说的rm就是<code>/usr/bin/rm</code>这个文件，我呢实际上为了防止误删除将我们<code>rm</code>指令改成了<code>mv</code>指令。我在我的<code>.zshrc</code>中添加了如下的代码。
        </p>
        <pre><code class='language-shell' lang='shell'>alias rm = trash

trash() { # 文件放入回收站
	mv $# ~/.trash
}

ctrash() { # 清空回收站
	echo -n &quot;clear sure? [y/n] &quot;
	read confirm
	[ $confirm = &#39;y&#39; ] || [ $confirm = &#39;Y&#39; ] &amp;&amp; rm -rf ~/.trash/* &amp;&amp; echo &quot;clear done!&quot;
}
</code></pre>
        <p>当然上面并不是这里要说的重点。</p>
        <p>上面说硬链接和指针相似，但是和指针还是有一点区别的，<code>linux</code>系统中会对<code>inode</code>进行计数，当我们删除一个文件时候，<code>inode</code>数量为1的时候才会真正删除这个文件。也就是说当我们执行<code>rm
          file</code>的时候，不会真正删除这个文件，此时<code>linkfile</code>还是可以继续使用，也就说使用硬链接之后，我们是分不清哪一个文件是链接文件的。</p>
        <p>同理，删除了<code>file</code>之后，软链接还是无法访问的。</p>
        <h3 id="yuan">源文件不存在时</h3>
        <p>硬链接需要<code>inode</code>的存在，源文件不存在也就没有链接的目标。所以此时<strong>无法创建硬链接</strong>。但是软链接只需要位置，即使那个位置没有文件，我们还是可以表示出那个位置，所以<strong>可以创建软链接。</strong>
        </p>
        <h3 id="meiti">不同的存储媒体</h3>
        <p>当我们需要制作不同的存储媒体之间的链接的时候，我们只能选择<strong>软链接</strong>，因为不同的媒体之间无法通过<code>inode</code>进行链接。因而软链接使用的范围更大一点，在系统中软链接随处可见。比如<code>linux</code>的根目录中就有四个目录软链接。
        </p>
        <pre><code class='language-shell' lang='shell'>total 52K
lrwxrwxrwx   1 root root    7 May 20 06:42 bin -&gt; usr/bin
drwxr-xr-x   4 root root 4.0K Jun 21 08:52 boot
drwxr-xr-x  20 root root 3.6K Jun 28 18:35 dev
drwxr-xr-x  88 root root 4.0K Jun 28 18:30 etc
drwxr-xr-x   3 root root 4.0K Jun 17 07:57 home
lrwxrwxrwx   1 root root    7 May 20 06:42 lib -&gt; usr/lib
lrwxrwxrwx   1 root root    7 May 20 06:42 lib64 -&gt; usr/lib
drwx------   2 root root  16K Mar  6 01:33 lost+found
drwxr-xr-x   4 root root 4.0K Mar 13 22:24 mnt
drwxr-xr-x   6 root root 4.0K May 27 11:48 opt
dr-xr-xr-x 245 root root    0 Jun 29  2020 proc
drwxr-x---  20 root root 4.0K Jun 27 21:26 root
drwxr-xr-x  21 root root  560 Jun 28 18:30 run
lrwxrwxrwx   1 root root    7 May 20 06:42 sbin -&gt; usr/bin
drwxr-xr-x   4 root root 4.0K Mar  6 01:54 srv
dr-xr-xr-x  13 root root    0 Jun 29  2020 sys
drwxrwxrwt  25 root root  680 Jun 28 19:54 tmp
drwxr-xr-x   9 root root 4.0K Jun 27 21:28 usr
drwxr-xr-x  12 root root 4.0K Jun 28 18:14 var
</code></pre>
        <h2 id="ruan">软链接的复制</h2>
        <h3 id="saveruan">保留软链接</h3>
        <p>硬链接的复制自然不必多说很容易理解，但是软链接就不是那么简单的了。</p>
        <p>现在有文件夹<code>dict</code>，里面内容如下：</p>
        <pre><code class='language-shell' lang='shell'>total 0
-rw-r--r-- 1 sher sher 0 Jun 28 20:08 a.txt
lrwxrwxrwx 1 sher sher 5 Jun 28 20:08 b.txt -&gt; a.txt
</code></pre>
        <p>通过<code>cp</code>指令可以复制这个文件夹。</p>
        <pre><code class='language-shell' lang='shell'>cp -r dict linkdict
</code></pre>
        <p>此时查看<code>linkdict</code>文件夹中的内容。</p>
        <pre><code class='language-shell' lang='shell'>total 0
-rw-r--r-- 1 sher sher 0 Jun 28 20:10 a.txt
lrwxrwxrwx 1 sher sher 5 Jun 28 20:10 b.txt -&gt; a.txt
</code></pre>
        <p>我们将软链接成功的复制了过来。</p>
        <p>上面我们是通过<code>cp</code>指令复制整个文件夹，但是如果我们单纯的复制文件的时候。</p>
        <pre><code class='language-shell' lang='shell'>mkdir linkdict
cp dict/* linkdict
</code></pre>
        <p>此时<code>linkdict</code>文件夹中内容如下，</p>
        <pre><code class='language-shell' lang='shell'>total 0
-rw-r--r-- 1 sher sher 0 Jun 28 20:15 a.txt
-rw-r--r-- 1 sher sher 0 Jun 28 20:15 b.txt
</code></pre>
        <p>软链接丢失了，这很不妙。</p>
        <p>单独复制软链接文件时会导致软链接消失，需要保持软链接的话需要使用<code>cp -d</code>命令。</p>
        <h3 id="tianhuanruan">替换软链接</h3>
        <p>当然还有一种情况，有时候我们复制的时候不想要保留软链接，想要使用源文件替换掉软链接文件。比如说，我们要像云端上面文件夹<code>a</code>，但是<code>a</code>中有文件软链接到我们本地的<code>b</code>文件夹，此时当然不能上传软链接。
        </p>
        <p>此时我们可以使用<code>cp -L</code>命令。如：</p>
        <pre><code class='language-shell' lang='shell'>cp -Lr dict linkdict
</code></pre>
        <p>此时<code>linkdict</code>文件夹中内容如下：</p>
        <pre><code class='language-shell' lang='shell'>total 0
-rw-r--r-- 1 sher sher 0 Jun 28 20:25 a.txt
-rw-r--r-- 1 sher sher 0 Jun 28 20:25 b.txt
</code></pre>
        <p>此时b虽然并不是链接空了的文件，其和原来的a文件是一样的。</p>
        <p>无论如何，我们是绝对不可以直接复制一个软链接文件的。</p>
        <h2 id="myruan">我使用的软链接</h2>
        <p>我电脑里面也使用了不少软链接，最是我印象深刻的是<code>vim</code>。</p>
        <p>一开始我使用的是<code>vim</code>，也配置了自己的<code>.vimrc</code>，但是后来我开始转用<code>neovim</code>。<code>neovim</code>的配置文件是可以直接使用<code>vim</code>的配置文件的，所以当时我使用了。
        </p>
        <pre><code class='language-shell' lang='shell'>ln -s .vimrc .config/nvim/init.vim
</code></pre>
        <p>做一个软链接。</p>
        <p>但是后来我发现<code>neovim</code>非常好用便卸载了<code>vim</code>，但是很多时候我们都使用<code>vim</code>来打开文件而不是<code>nvim</code>。此时使用
        </p>
        <pre><code class='language-shell' lang='shell'>ln -s /usr/bin/nvim /usr/bin/vim
</code></pre>
        <p>此时我们使用<code>vim</code>也可以打开<code>nvim</code>了。</p>
        <p>（当我没有卸载<code>vim</code>的时候，使用的是<code>alias vim = nvim</code>）</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      <div class="m-padding-lr-huge">
        <a class="ui basic teal left pointing label " th:href="@{/tag/{id}(id=${tag.id})}" th:each="tag : ${blog.tags}" th:text="${tag.name}">散文精选</a>
      </div>
      <div class="ui center aligned basic segment" th:if="${blog.appreciation}">
        <div id="payBtn" class="ui orange basic circular button">赞赏</div>
      </div>
      <div id="payQRs" class="ui flowing popup transition hidden">
        <div class="ui pink basic label ">
          <div class="ui images" style="font-size: 1em">
            <div class="image">
              <img src="../static/images/qrcode.png" th:src="@{/images/qrcode.png}" style="width: 100px"
                   class="ui rounded bordered image">
              <div style="color: green; text-align: center">微信</div>
            </div>
            <div class="image">
              <img src="../static/images/qrcode.png" th:src="@{/images/qrcode.png}" style="width: 100px;"
                   class="ui rounded bordered image">
              <div style="color: deepskyblue; text-align: center">支付宝</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui attached positive message" th:if="${blog.shareStatement}">
      <div class="ui grid middle aligned">
        <div class="eleven wide column">
          <ui class="list">
            <li>作者： <span th:text="${blog.user.nickname}">Sheriby</span></li>
            <li>发表时间: <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm')}">2020-07-19<span></li>
            <li>版权声明： 自由转载～非商用～非衍生～保持署名 【创意共享3.0许可证】</li>
            <li>公众号转载： 请在文末添加作者公众号二维码</li>
          </ui>
        </div>
        <div class="five wide column">
          <img src="../static/images/qrcode.png" th:src="@{/images/qrcode.png}" style="width: 100px;"
               class="ui rounder bordered right floated image">
        </div>
      </div>
    </div>

    <div id="comment" class="ui bottom attached segment" th:if="${blog.comment}">
      <div id="comment-container">
        <div th:fragment="comment_list">
          <div class="ui teal segment">
            <div class="ui threaded comments">
              <h3 class="ui dividing header">评论区</h3>
              <div class="comment" th:each="comment : ${comments}">
                <a class="avatar">
                  <img src="../static/images/avatar/head.jpg" th:src="${comment.avatar}" class="m-border-circle">
                </a>
                <div class="content">
                  <a class="author" th:text="${comment.nickname}">Matt</a>
                  <div class="metadata">
                    <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">今天17:42</span>
                  </div>
                  <div class="text" th:text="${comment.content}">
                    How artistic!
                  </div>
                  <div class="actions">
                    <a class="reply" th:attr="data-commentid=${comment.id}, data-nickname=${comment.nickname}"
                       onclick="reply(this)">评论</a>
                  </div>

                </div>
                <div class="comments" th:unless="${comment.replyComments} == null"
                     th:each="reply : ${comment.replyComments}">
                  <div class="comment">
                    <a class="avatar">
                      <img src="../static/images/avatar/head.jpg" th:src="@{${reply.avatar}}" class="m-border-circle">
                    </a>
                    <div class="content">
                      <a class="author" th:text="|${reply.nickname}" >Jenny Hess</a>
                      <span th:text="|@${reply.replyNickname}|" style="color: #00b5ad; font-weight: bold"></span>
                      <div class="metadata">
                        <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">几分钟前</span>
                      </div>
                      <div class="text" th:text="${reply.content}">
                        Elliot you are always so right :)
                      </div>
                      <div class="actions">
                        <a class="reply" th:attr="data-commentid=${comment.id}, data-nickname=${reply.nickname}"
                          onclick="reply(this)">评论</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/*-->
              <div class="comment">
                <a class="avatar">
                  <img src="../static/images/avatar/head.jpg" class="m-border-circle">
                </a>
                <div class="content">
                  <a class="author">Elliot Fu</a>
                  <div class="metadata">
                    <span class="date">昨天12:30</span>
                  </div>
                  <div class="text">
                    <p>This has been very useful for my research. Thanks as well!</p>
                  </div>
                  <div class="actions">
                    <a class="reply">评论</a>
                  </div>
                  <div class="comments">
                    <div class="comment">
                      <a class="avatar">
                        <img src="../static/images/avatar/head.jpg" class="m-border-circle">
                      </a>
                      <div class="content">
                        <a class="author">Jenny Hess</a>
                        <div class="metadata">
                          <span class="date">几分钟前</span>
                        </div>
                        <div class="text">
                          Elliot you are always so right :)
                        </div>
                        <div class="actions">
                          <a class="reply">评论</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="comments">
                  <div class="comment">
                    <a class="avatar">
                      <img src="../static/images/avatar/head.jpg" class="m-border-circle">
                    </a>
                    <div class="content">
                      <a class="author">Jenny Hess</a>
                      <div class="metadata">
                        <span class="date">几分钟前</span>
                      </div>
                      <div class="text">
                        Elliot you are always so right :)
                      </div>
                      <div class="actions">
                        <a class="reply">评论</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment">
                <a class="avatar">
                  <img src="../static/images/avatar/head.jpg" class="m-border-circle">
                </a>
                <div class="content">
                  <a class="author">Joe Henderson</a>
                  <div class="metadata">
                    <span class="date">5天前</span>
                  </div>
                  <div class="text">
                    Dude, this is awesome. Thanks so much
                  </div>
                  <div class="actions">
                    <a class="reply">评论</a>
                  </div>
                </div>
              </div>
              <!--*/-->
            </div>
          </div>
        </div>
      </div>

      <form class="ui form">
        <input type="hidden" name="blog.id" th:value="${blog.id}">
        <input type="hidden" name="parentComment.id" value="-1">
        <input type="hidden" name="replyNickname">
        <div class="field">
          <textarea name="content" placeholder="请输入评论信息..."></textarea>
        </div>
        <div class="fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="ui user icon"></i>
              <input type="text" name="nickname" placeholder="姓名">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="ui mail icon"></i>
              <input type="text" name="email" placeholder="邮箱"/>
            </div>
          </div>
          <div class="right field">
            <button id="comment-submit" class="ui button positive middle aligned"><i class="ui edit icon"></i>发布
            </button>
          </div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>

  </div>
</div>

<div id="buttons" class="ui vertical buttons icon m-mobile-hide" style="position: fixed; right: 0; bottom: 200px;z-index: 1">
  <div id="hide" class="ui basic blue button m-mobile-show"><i class="large chevron right icon"></i></div>
  <button type="button" id="tocBtn" class="ui teal button">目录</button>
  <div id="toComment" class="ui teal button">留言</div>
  <button id="showQr" class="ui green button"><i class="wechat icon"></i></button>
  <div id="top" class="ui basic green button"><i class="large chevron up icon"></i></div>
</div>
<div class="ui mini buttons icon m-mobile-show" style="position: fixed; right: 0; bottom: 260px;z-index: 1">
  <button class="ui mini button" style="padding:0; width: 3em; height: 4em" id="showButtons"><i class="large chevron left icon"></i></button>
</div>

<div id="toc-container" class="ui flowing popup transition hidden">
  <div id="toc" style="width: 250px; text-align: left"></div>
</div>

<div class="ui flowing popup transition hidden" id="qr" style="padding: 1em">
</div>

<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-t-huge m-margin-t-large">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <img src="../static/images/qrcode.png" class="ui rounded images" style="width: 110px;">
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text">最新博客</h4>
        <div class="ui inverted link list m-text">
          <a href="#" class="item m-text-lined">Spring Boot实战</a>
          <a href="#" class="item">Spring源码分析</a>
          <a href="#" class="item m-text-lined">使用MyBatis Plus简化开发</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text">联系我</h4>
        <div class="ui inverted link list m-text">
          <a href="#" class="item m-text-lined"> Email: hony_sher@foxmail.com </a>
          <a href="#" class="item "> QQ: 422343831</a>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header m-text">Blog</h4>
        <p class="ui inverted m-text m-opacity-large m-text-lined">
          每个人都不得不面对这些问题。 在面对这种问题时， 我们都知道，只要有意义，那么就必须慎重考虑。 雷锋曾经说过，
          自己活着，就是为人民。
        </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="m-text">
      <span>Copyright</span><i class="copyright icon"></i> <span>2020 - 2020 Designed By Sheriby</span>
    </div>

  </div>
</footer>
</body>
</html>